body {
    font-family: sans-serif;
    margin: 0;
}
p {
    /* background-color: ; */
}
div {
    background-color: orange;
}
main p {
    border: 5px solid yellow;
}
p {
    margin: 0 50px 10px 50px;
    padding: 20px;
}
section p {
    border-color: lightblue;
}

main {
    padding: 10px 50px;
}
header {
    padding: 15px;
}
article h1 {
    text-decoration: underline;
}




